NODE_ENV="NODE_ENV"
PORT=4444
CONTEXT="CONTEXT"
DATABASE_HOST="DATABASE_HOST"
DATABASE_PORT="DATABASE_PORT"
DATABASE_USERNAME="DATABASE_USERNAME"
DATABASE_PASSWORD="DATABASE_PASSWORD"
DATABASE_NAME="DATABASE_NAME"
ORIGINS="http://localhost:9999"


JWT_SECRET="jwt_secret_key"
PRE_REGISTER_EXPIRE_HOURS=10
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d